<header>
    <div class="container">
        <div class="logo">
            <svg width="57" height="56" viewBox="0 0 57 56" fill="none">
            <path d="M28.0143 42.1523C35.8141 42.1523 42.137 35.8325 42.137 28.0368C42.137 20.241 35.8141 13.9212 28.0143 13.9212C20.2146 13.9212 13.8916 20.241 13.8916 28.0368C13.8916 35.8325 20.2146 42.1523 28.0143 42.1523Z" fill="#762A0C"/>
            <path d="M56.0286 0H0V56H56.0286V0ZM28.0143 45.6505C18.2951 45.6505 10.3898 37.7475 10.3898 28.0368C10.3898 18.3242 18.2968 10.4212 28.0143 10.4212C37.7318 10.4212 45.6371 18.3242 45.6371 28.0368C45.6388 37.7492 37.7318 45.6505 28.0143 45.6505Z" fill="#762A0C"/>
            </svg>
            <div class="logo__text">Музей Игрушек</div>
        </div>
        <nav class="menu">
            <a class="menu__item" href="#">Главная</a>
            <a class="menu__item" href="#">Кто мы?</a>
            <a class="menu__item" href="../analysis.ejs">Игрушки</a>
            <a class="menu__item" href="#">Чаво?</a>
            <a class="menu__item" href="#">Контакты</a>
        </nav>
    </div>
</header>