<div class="search_block">
    <div class="container">
        <div class="search_h">Поиск по ключевым словам</div>
        <form class="search_form" name="toy">
            <input placeholder="Игрушка..." class="text" list="toys">
            <button type="submit" class="button">
            <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.2571 26.5127C16.1984 26.5121 19.0551 25.5275 21.3721 23.7156L28.6568 31L31 28.6569L23.7152 21.3726C25.5281 19.0555 26.5134 16.1983 26.5141 13.2564C26.5141 5.94714 20.5667 0 13.2571 0C5.94745 0 0 5.94714 0 13.2564C0 20.5656 5.94745 26.5127 13.2571 26.5127ZM13.2571 3.31409C18.7405 3.31409 23.1999 7.7732 23.1999 13.2564C23.1999 18.7395 18.7405 23.1986 13.2571 23.1986C7.77361 23.1986 3.31427 18.7395 3.31427 13.2564C3.31427 7.7732 7.77361 3.31409 13.2571 3.31409Z" fill="white"/>
                </svg>                
           </button>
        </form>
    </div>
</div>