.add_block {
    padding: 65px 127px;
}

.toy2 {
    font-size: 48px;
    padding-bottom: 8px;
}

.form_names {
    font-size: 18px;
    padding-bottom: 6px;
    padding-top: 20px;
}

.name_form{
    height: 38px;
    width: 506px;
    border-radius: 3px;
    border: 1px solid #979797;
    outline: none;
}

.rarity_form{
    height: 22px;
    width: 172px;
    border-radius: 5px;
    border: 1px solid #979797;
    outline: none;
    font-size: 12px;
}

.descr_form{
    height: 283px;
    width: 548px;
    border: 1px solid #979797;
    font-size: 14px;
    outline: none;
}

.photo_label{
    width: 628px;
    height: 158px;
    border: 2px dashed #979797;
    border-radius: 10px;
    margin-top: 21px;
    cursor: pointer;
}

.photo_form{
    display: none;
}

.photo_placehl{
    padding-top: 26px;
    padding-left: 273px;
}

.photo_text{
    padding: 8px 156px;
    font-size: 18px;
    color: #979797;
}

.subm{
    margin-top: 36px;
    background: #ED4040;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 5px;
    width: 175px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
}