.all_toys{
    padding: 65px 127px;
    flex-grow: 1;
    overflow-y: auto;
    max-height: 100vh;
}


.toys_container{
    max-width: 1360px;
    margin: 0 auto;
}

.all_text{
    padding-bottom: 104px;
    font-size: 48px;
    color: #ED4040;
    text-align: center;
}

.search_form2 { 
    display: block;
    height: 63px;
    background: #FFFFFF;
    border: 1px solid #979797;
    border-radius: 40px;
    display: flex;
    margin: 40px auto 0;
    cursor: pointer;
}

.text2 {
    width: 82%;
    font-size: 18px;
    margin-left: 4%;
    border: none;
    outline: none;
}

.button2 {
    outline: none;
    background: #ED4040;
    border-radius: 0 40px 40px 0;
    width: 14%;
    height: 63px;
    border: none;
    cursor: pointer;
}

.toys_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 75px;
    column-gap: 50px;
    margin-top: 50px;
}




