header {
    width: 100%;
    background: #FFFBEB;
}

.header__container {
    padding: 0 20px;
    height: 101px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 37.33px;
    color: #BB2929;
}

.logo__text {
    margin-left: 12px;
}

.menu {
    width: 53%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__item {
    display: block;
    color: #ED4040;
    font-size: 18px;
    transition: color 0.2s;
}

.menu__item:hover {
    color: #BB2929;
}
