.big_photo{
    height: 100vh;
    background-image: url(https://downloader.disk.yandex.ru/preview/42db9bbb98df169ba5a6e86682aa67746b2645cc2ee0566c8f7f8f62b0f06c3b/60722488/j6vSN3mvKSUwW6u3pW7_03SksF0iRnXLH8znH21FODUc-az1qN7GLRMjjq22YIBxe6anV36_QZg4JrQrmSNkKg%3D%3D?uid=0&filename=F4IbOE_JpKs.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=0&tknv=v2&size=1903x937);
    background-size: cover;
}

.photo_text{
    color: #FFFFFF;
    font-size: 72px;
   text-align: center;
   padding-top: 48vh;
}

.arrow_form{
    position: absolute;
    bottom: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.arrow_button{
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.creator_block{
    display: flex;
    padding: 45px 0 60px 0;
    justify-content: center;
}

.creator_descr{
    font-size: 18px;
    padding-right: 100px;
    max-width: 650px;
}

.creator_ph{
    width: 520px;
    min-height: 640px;
    background: #C4C4C4;
}

.creator_ph img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.some_toys{
    background: #BB2929;
}

.lis{
    padding-top: 60px;
}

.all_t{
    display: flex;
    justify-content: center;
    padding-top: 120px;;
    padding-bottom: 40px;
}

.all_b{
    background: #000000;
    border-radius: 5px;
    padding: 9px 24px;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;

}

.factory_block{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.factory_pair{}

.factory_pair:first-child{
    padding-right: 350px;
}

.factory{
    display: flex;
    padding-bottom: 10px;
}

.factory_number{
    color: #FFFFFF;
    font-size: 36px;
}

.factory_descr{
    padding-left: 16px;
}

.year{
    color: #ED4040;
    font-size: 18px;
    padding-bottom: 8px;
}

.history{
    color: #000000;
    font-size: 18px;
}

.map{
    height: 600px;
    background:  #C4C4C4;
}

footer{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts{
    padding-bottom: 40px;
    font-size: 48px;
    color: #000000;
}

.big_info{
    display: flex;
}

.line{
    display: flex;
    flex-direction: column;
}

.line:first-child{
    padding-right: 110px;
}

.full{
    padding-bottom: 40px;
}

.direct{
    font-size: 24px;
    color: #000000;
    font-weight: bold;
    padding-bottom: 20px;
}

.for_social{
    padding-bottom: 10px;
}

.info{
    font-size: 24px;
    color: #000000;
    padding-left: 10px;
}

.social{
    display:flex;
    padding-left: 10px;
}

.social a {
    padding-right: 15px;
}