.row {
    margin-top: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.toys_block {
    margin-top: 135px;
    display: grid;
    row-gap: 75px;
    column-gap: 50px;    
    grid-template-columns: 1fr 1fr 1fr;
}

.row:first-child {
    margin-top: 125px;
}

.toy {
    background: #FFFBEB;
    border-radius: 10px;
    overflow: hidden;
}

.toy_ph {
    height: 200px;
    width: 100%;
    background: #C4C4C4;
}

.toy_body {
    padding: 37px 27px 16px;
}

.toy_rarity {
    color: #ED4040;
    font-size: 12px;
}

.toy_name {
    height: 28px;
    font-size: 24px;
    color: #000000;
    width: 83.5%;
}

.toy_descr {
    padding-top: 12px;
    padding-bottom: 32px;
    font-size: 12px;
    color: #000000;
}

.toy_button {
    cursor: pointer;
    padding: 5px 45px;
    background: #ED4040;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 18px;
}

.buttons_block{
    display: flex;
    justify-content: space-between;

}

.edit_button{
    padding: 9px 12.5px;
    background:#45BA66;
    display: block;
}

.delete_button{
    padding: 9px 12.5px;
    background:#ED4040;
    border: 0;
    outline: 0;
}