.toys_block {
    width: 100%;
    height: 2009px;
}

.row {
    margin-top: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.row:first-child {
    margin-top: 125px;
}

.toy {
    width: 21.8%;
    height: 509px;
    margin-left: 3%;
    background: #FFFBEB;
    border-radius: 10px;
    overflow: hidden;
}

.toy_ph {
    height: 200px;
    width: 100%;
    background: #C4C4C4;
}

.toy_body {
    padding: 37px 27px 16px;
}

.toy_rarity {
    color: #ED4040;
    font-size: 12px;
}

.toy_name {
    height: 28px;
    font-size: 24px;
    color: #000000;
    width: 83.5%;
}

.toy_descr {
    padding-top: 12px;
    padding-bottom: 32px;
    font-size: 12px;
    height: 135px;
    color: #000000;
}

.toy_button {
    cursor: pointer;
    padding: 5px 45px;
    background: #ED4040;
    border-radius: 5px;
    color: #FFFFFF;
}