<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/analysis.css">
    <link rel="stylesheet" href="/static/style/main.css">
    <link rel="stylesheet" href="/static/style/add_toys.css">
    <title>Админ панель</title>
</head>

<body>
    <div class="body">
        <div class="admin_block">
            <div class="admin_panel">Админ Панель</div>
            <div class="admin_section">
                <a class="section_name" href="#">Список игрушек</a>
            </div>
            <div class="admin_section_ch">
                <a class="section_name" href="#">Добавить Игрушку</a>
            </div>
            <div class="admin_section_">
                <a class="section_name" href="#">Аналитика</a>
            </div>
        </div>
        <div class="add_block">
            <div class="toy2">Игрушка</div>
            <form enctype="multipart/form-data" method="post">
                <div class="form_names" required>Игрушка</div>
                <input name="toy" clas="name_form">
                <div class="form_names">Редкость</div>
                <select class="rarity_form" required>
                    <option value="rare" class="rarity2">редкая</option>
                    <option value="very rare" class="rarity2">очень редкая</option>
                    <option value="for bastards" class="rarity2">для опущенных</option>
                </select>
                <div class="form_names">Описание</div>
                <textarea name="description" class="descr_form" required></textarea>
                <input type="file" name="toy_ph" accept="image/*" class="photo_form" required>
                <input type="submit" class="subm" value="Добавить">
            </form>
        </div>
    </div>          
</body>
</html>