<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/analysis.css">
    <link rel="stylesheet" href="/static/style/main.css">
    <link rel="stylesheet" href="/static/style/add_toys.css">
    <link rel="stylesheet" href="/static/style/all_toys.css">
    <title>Админ панель</title>
</head>

<body>
    <div class="body">
        <div class="admin_block">
            <div class="admin_panel">Админ Панель</div>
            <div class="admin_section">
                <a class="section_name_ch" href="#">Список игрушек</a>
            </div>
            <div class="admin_section_">
                <a class="section_name" href="#">Добавить Игрушку</a>
            </div>
            <div class="admin_section_">
                <a class="section_name" href="#">Аналитика</a>
            </div>
        </div>
        <div class="all_toys">
            <div class="toy2">Все игрушки</div>
            
        </div>

    </div>   

</body>
</html>