<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/header.css">
    <link rel="stylesheet" href="/static/style/main.css">
    <link rel="stylesheet" href="/static/style/landing.css">
    <link rel="stylesheet" href="/static/style/toys.css">
    <title>Музей Игрушек СССР</title>
</head>
<body>
    <div class="big_photo">
    <header class="index_header">
        <div class="header__container">
            <div class="logo">
                <svg width="57" height="56" viewBox="0 0 57 56" fill="none">
                <path d="M28.0143 42.1523C35.8141 42.1523 42.137 35.8325 42.137 28.0368C42.137 20.241 35.8141 13.9212 28.0143 13.9212C20.2146 13.9212 13.8916 20.241 13.8916 28.0368C13.8916 35.8325 20.2146 42.1523 28.0143 42.1523Z" fill="#762A0C"/>
                <path d="M56.0286 0H0V56H56.0286V0ZM28.0143 45.6505C18.2951 45.6505 10.3898 37.7475 10.3898 28.0368C10.3898 18.3242 18.2968 10.4212 28.0143 10.4212C37.7318 10.4212 45.6371 18.3242 45.6371 28.0368C45.6388 37.7492 37.7318 45.6505 28.0143 45.6505Z" fill="#762A0C"/>
                </svg>
                <div class="logo__text">Музей Игрушек</div>
            </div>
            <nav class="menu">
                <a class="menu__item" href="#">Главная</a>
                <a class="menu__item" href="#">Кто мы?</a>
                <a class="menu__item" href="#">Игрушки</a>
                <a class="menu__item" href="#">Чаво?</a>
                <a class="menu__item" href="#">Контакты</a>
            </nav>
        </div>
    </header>
    <div class="photo_text">Игрушки времен СССР</div>
    <form class="arrow_form" method="post">
        <button class="arrow_button"> <svg width="52" height="57" viewBox="0 0 52 57" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M26 54.7011V2" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M2 31.6444L26 54.7011L50 31.6444" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        </button>
        </svg>
    </form>
    </div>
    <div class="creator_block">
        <div class="creator_descr">ddqndqndqwdn dqowdqoiwndqo wdq woq dwodiqo iwndoqnwdoqn wdoqnwdqdd efasfsdfs safsfsfsd fsfsafsdf sdfsfsdfsdfs dfdsfsd fdfsdf fsdd fsdfdsfds fsdf fsd sdfsdfsdf skdfdsfsdfkdsf sdfsdkdsfdskf dsf kfsdf sdkf sdf sdkf sdkf sdkfsdkf dksf sdkf dskf sdkfsdkfsdkfskf dskfsdkf dsf dfsfsd</div>
        <div class="creator_ph">
            <img src="https://a.d-cd.net/tMAAAgKZgeA-960.jpg">
        </div>
    </div>
    <div class="some_toys">
        
    </div>
</body>
</html>