<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/header.css">
    <link rel="stylesheet" href="/static/style/main.css">
    <link rel="stylesheet" href="/static/style/landing.css">
    <link rel="stylesheet" href="/static/style/toys.css">
    <title>Музей Игрушек СССР</title>
</head>
<body>
    <div class="big_photo">
    <header class="index_header">
        <div class="header__container">
            <div class="logo">
                <svg width="57" height="56" viewBox="0 0 57 56" fill="none">
                <path d="M28.0143 42.1523C35.8141 42.1523 42.137 35.8325 42.137 28.0368C42.137 20.241 35.8141 13.9212 28.0143 13.9212C20.2146 13.9212 13.8916 20.241 13.8916 28.0368C13.8916 35.8325 20.2146 42.1523 28.0143 42.1523Z" fill="#762A0C"/>
                <path d="M56.0286 0H0V56H56.0286V0ZM28.0143 45.6505C18.2951 45.6505 10.3898 37.7475 10.3898 28.0368C10.3898 18.3242 18.2968 10.4212 28.0143 10.4212C37.7318 10.4212 45.6371 18.3242 45.6371 28.0368C45.6388 37.7492 37.7318 45.6505 28.0143 45.6505Z" fill="#762A0C"/>
                </svg>
                <div class="logo__text">Музей Игрушек</div>
            </div>
            <nav class="menu">
                <a class="menu__item" href="#">Главная</a>
                <a class="menu__item" href="#">Кто мы?</a>
                <a class="menu__item" href="#">Игрушки</a>
                <a class="menu__item" href="#">Чаво?</a>
                <a class="menu__item" href="#">Контакты</a>
            </nav>
        </div>
    </header>
    <div class="photo_text">Игрушки времен СССР</div>
    <form class="arrow_form" method="post">
        <button class="arrow_button"> <svg width="52" height="57" viewBox="0 0 52 57" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M26 54.7011V2" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M2 31.6444L26 54.7011L50 31.6444" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        </button>
        </svg>
    </form>
    </div>
    <div class="creator_block">
        <div class="creator_descr">ddqndqndqwdn dqowdqoiwndqo wdq woq dwodiqo iwndoqnwdoqn wdoqnwdqdd efasfsdfs safsfsfsd fsfsafsdf sdfsfsdfsdfs dfdsfsd fdfsdf fsdd fsdfdsfds fsdf fsd sdfsdfsdf skdfdsfsdfkdsf sdfsdkdsfdskf dsf kfsdf sdkf sdf sdkf sdkf sdkfsdkf dksf sdkf dskf sdkfsdkfsdkfskf dskfsdkf dsf dfsfsd</div>
        <div class="creator_ph">
            <img src="https://a.d-cd.net/tMAAAgKZgeA-960.jpg">
        </div>
    </div>
    <div class="some_toys">
        <div class="lis"></div>
        <div class="all_t">
            <a href="#" class="all_b">Смотреть все игрушки...</a>
        </div>
    </div>
    <div class="factory_block">
        <div class="factory_pair">
            <div class="factory">
                <div>
                    <svg width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="75" height="75" rx="37.5" fill="black"></rect>
                    <text x="27" y="50" fill="#FFFFFF" font-size="36">1</text>
                    </svg>
                    </div>
                <div class="factory_descr">
                    <div class="year">1956</div>
                    <div class="history">Какой-то там завод игрушек</div>
                </div>
            </div>
            <div class="factory">
                <div>
                    <svg width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="75" height="75" rx="37.5" fill="black"/>
                    <text x="27" y="50" fill="#FFFFFF" font-size="36">2</text>
                    </svg>                    
                    </div>
                <div class="factory_descr">
                    <div class="year">1956</div>
                    <div class="history">Какой-то там завод игрушек</div>
                </div>
            </div>
        </div>
        <div class="factory_pair">
            <div class="factory">
                <div>
                    <svg width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="75" height="75" rx="37.5" fill="black"/>
                    <text x="27" y="50" fill="#FFFFFF" font-size="36">3</text>
                    </svg>                    
                    </div>
                <div class="factory_descr">
                    <div class="year">1956</div>
                    <div class="history">Какой-то там завод игрушек</div>
                </div>
            </div>
            <div class="factory">
                <div>
                    <svg width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="75" height="75" rx="37.5" fill="black"/>
                    <text x="27" y="50" fill="#FFFFFF" font-size="36">4</text>
                    </svg>                               
                    </div>
                <div class="factory_descr">
                    <div class="year">1956</div>
                    <div class="history">Какой-то там завод игрушек</div>
                </div>
            </div>
        </div>
    </div>
    <div class="map"></div>
    <footer>
        <div class="contacts">Контакты</div>
        <div class="big_info">
        <div class="line">
            <div class="full">
                <div class="direct">Адрес:</div>
                <div class="info">Ленинский пр-т, д. 111, к. 1, Москва, 119421 123</div>
            </div>
            <div class="full">
                <div class="direct">Телефон:</div>
                <div class="info">+7 909 973-63-93</div>
            </div>
        </div>
        <div class="line">
            <div class="full">
                <div class="direct for_social">Ссылки:</div>
                <div class="social">
                    <a href="https://www.instagram.com/cartoysussr/?r=nametag" target="_blank">
                        <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.60919 2.77762C-0.525114 6.03324 0.11637 9.49161 0.11637 19.998C0.11637 28.7229 -1.40591 37.4693 6.56113 39.5284C9.04897 40.1682 31.0921 40.1682 33.5766 39.5251C36.8937 38.6692 39.5926 35.9786 39.9616 31.2871C40.0131 30.6324 40.0131 9.37528 39.9599 8.70721C39.5677 3.70994 36.4916 0.829903 32.4382 0.246584C31.5093 0.111972 31.3231 0.0720864 26.5569 0.063777C9.65057 0.0720864 5.94458 -0.680745 2.60919 2.77762Z" fill="url(#paint0_linear)"/>
                        <path d="M20.0554 5.2813C14.0212 5.2813 8.29099 4.74452 6.1023 10.3617C5.19824 12.6816 5.32953 15.6946 5.32953 20.0089C5.32953 23.7946 5.20821 27.3527 6.1023 29.6544C8.28601 35.2749 14.0627 34.7364 20.0521 34.7364C25.8305 34.7364 31.7883 35.338 34.0036 29.6544C34.9093 27.3112 34.7764 24.3431 34.7764 20.0089C34.7764 14.2554 35.0938 10.5411 32.3035 7.75252C29.4783 4.92732 25.6576 5.2813 20.0488 5.2813H20.0554ZM18.7359 7.93532C31.323 7.91538 32.925 6.51608 32.0409 25.9551C31.7268 32.8303 26.4919 32.0758 20.0571 32.0758C8.32423 32.0758 7.98687 31.7401 7.98687 20.0022C7.98687 8.1281 8.91752 7.94197 18.7359 7.932V7.93532ZM27.9161 10.3799C26.9406 10.3799 26.1495 11.171 26.1495 12.1465C26.1495 13.122 26.9406 13.9131 27.9161 13.9131C28.8916 13.9131 29.6827 13.122 29.6827 12.1465C29.6827 11.171 28.8916 10.3799 27.9161 10.3799ZM20.0554 12.4457C15.8791 12.4457 12.4939 15.8326 12.4939 20.0089C12.4939 24.1852 15.8791 27.5704 20.0554 27.5704C24.2317 27.5704 27.6153 24.1852 27.6153 20.0089C27.6153 15.8326 24.2317 12.4457 20.0554 12.4457ZM20.0554 15.0997C26.5451 15.0997 26.5534 24.9181 20.0554 24.9181C13.5675 24.9181 13.5575 15.0997 20.0554 15.0997Z" fill="white"/>
                        <defs>
                        <linearGradient id="paint0_linear" x1="2.68567" y1="37.4014" x2="39.7546" y2="5.3186" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FFDD55"/>
                        <stop offset="0.5" stop-color="#FF543E"/>
                        <stop offset="1" stop-color="#C837AB"/>
                        </linearGradient>
                        </defs>
                        </svg>
                        </a>
                    <a href="https://vk.com/m.mahov" target="_blank">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 40C31.0457 40 40 31.0457 40 20C40 8.95431 31.0457 0 20 0C8.95431 0 0 8.95431 0 20C0 31.0457 8.95431 40 20 40Z" fill="#4D76A1"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.2446 28.7721H20.8144C20.8144 28.7721 21.2886 28.7201 21.5306 28.4591C21.7535 28.2195 21.7463 27.7696 21.7463 27.7696C21.7463 27.7696 21.7157 25.6633 22.6932 25.3531C23.6569 25.0476 24.8944 27.3888 26.206 28.289C27.1979 28.9703 27.9515 28.821 27.9515 28.821L31.4586 28.7721C31.4586 28.7721 33.2933 28.6591 32.4234 27.2166C32.3521 27.0986 31.9167 26.1496 29.8158 24.1994C27.6168 22.1583 27.9113 22.4885 30.5602 18.9579C32.1734 16.8077 32.8184 15.495 32.6169 14.9328C32.4248 14.3973 31.2383 14.5388 31.2383 14.5388L27.2895 14.5634C27.2895 14.5634 26.9968 14.5235 26.7797 14.6533C26.5675 14.7805 26.431 15.0772 26.431 15.0772C26.431 15.0772 25.806 16.741 24.9725 18.1561C23.2141 21.1419 22.5111 21.2995 22.2237 21.1141C21.5552 20.682 21.7221 19.3782 21.7221 18.452C21.7221 15.5585 22.161 14.352 20.8675 14.0397C20.4383 13.9359 20.1224 13.8675 19.0247 13.8564C17.6157 13.8418 16.4231 13.8607 15.7479 14.1916C15.2987 14.4115 14.9521 14.9017 15.1632 14.9299C15.4242 14.9648 16.0153 15.0893 16.3287 15.516C16.7333 16.0665 16.719 17.3029 16.719 17.3029C16.719 17.3029 16.9515 20.7091 16.1761 21.1323C15.6438 21.4225 14.9136 20.8299 13.346 18.1211C12.5428 16.7335 11.9363 15.1998 11.9363 15.1998C11.9363 15.1998 11.8194 14.9132 11.6108 14.7599C11.3577 14.5741 11.004 14.5149 11.004 14.5149L7.25169 14.5395C7.25169 14.5395 6.68839 14.5552 6.48161 14.8001C6.29764 15.018 6.46699 15.4686 6.46699 15.4686C6.46699 15.4686 9.4047 22.3416 12.731 25.8052C15.781 28.9807 19.2446 28.7721 19.2446 28.7721Z" fill="white"/>
                        </svg>   
                    </a>
                    <a href="https://api.whatsapp.com/send/?phone=79099736393&text&app_absent=0" target="_blank">
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20.005 0H19.995C8.9675 0 0 8.97 0 20C0 24.375 1.41 28.43 3.8075 31.7225L1.315 39.1525L9.0025 36.695C12.165 38.79 15.9375 40 20.005 40C31.0325 40 40 31.0275 40 20C40 8.9725 31.0325 0 20.005 0Z" fill="#4CAF50"/>
                            <path d="M31.6414 28.2356C31.1589 29.5981 29.2439 30.7281 27.7164 31.0581C26.6714 31.2806 25.3064 31.4581 20.7114 29.5531C14.8339 27.1181 11.0489 21.1456 10.7539 20.7581C10.4714 20.3706 8.37891 17.5956 8.37891 14.7256C8.37891 11.8556 9.83641 10.4581 10.4239 9.85813C10.9064 9.36563 11.7039 9.14062 12.4689 9.14062C12.7164 9.14062 12.9389 9.15313 13.1389 9.16313C13.7264 9.18813 14.0214 9.22313 14.4089 10.1506C14.8914 11.3131 16.0664 14.1831 16.2064 14.4781C16.3489 14.7731 16.4914 15.1731 16.2914 15.5606C16.1039 15.9606 15.9389 16.1381 15.6439 16.4781C15.3489 16.8181 15.0689 17.0781 14.7739 17.4431C14.5039 17.7606 14.1989 18.1006 14.5389 18.6881C14.8789 19.2631 16.0539 21.1806 17.7839 22.7206C20.0164 24.7081 21.8264 25.3431 22.4739 25.6131C22.9564 25.8131 23.5314 25.7656 23.8839 25.3906C24.3314 24.9081 24.8839 24.1081 25.4464 23.3206C25.8464 22.7556 26.3514 22.6856 26.8814 22.8856C27.4214 23.0731 30.2789 24.4856 30.8664 24.7781C31.4539 25.0731 31.8414 25.2131 31.9839 25.4606C32.1239 25.7081 32.1239 26.8706 31.6414 28.2356Z" fill="#FAFAFA"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="full">
                <div class="direct">Почта:</div>
                <div class="info">info@ussrtoy@gmail.com</div>
            </div>
        </div>
        </div>
    </footer>
</body>
</html>