<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/header.css">
    <link rel="stylesheet" href="/static/style/search.css">
    <link rel="stylesheet" href="/static/style/toys.css">
    <title>Главная</title>
</head>
<body>
    <%- include('blocks/header.ejs')%>
    <%- include('blocks/search_b.ejs')%>
    <div class="toys_block">
        <div class="fst_row">
            <div class="toy">
                <div class="toy_ph"></div>
                <div class="toy_rarity">Редкая</div>
                <div class="toy_name">Игрушка</div>
                <div class="toy_descr">Это безусловно очень интересная игрушка, 
                    на которую хотят посмотреть сороколетние мужчины, которым безусловно есть чем заняться,
                     например побулькать.<br>Это безусловно очень интересная игрушка, на которую хотят посмотреть
                      сороколетние мужчины, которым безусловно есть чем заняться, например побулькать.<br>
                      Это безусловно очень интересная игрушка, на которую хотят посмотреть сороколетние мужчины,
                       которым безусловно есть чем заняться, например побулькать.</div>
                <a class="look_butt" href="#">
                    <div class="watch">Смотреть</div>
                </a>
            </div>
            <div class="toy">
                <div class="toy_ph"></div>
                <div class="toy_rarity">Редкая</div>
                <div class="toy_name">Игрушка</div>
                <div class="toy_descr">Это безусловно очень интересная игрушка, 
                    на которую хотят посмотреть сороколетние мужчины, которым безусловно есть чем заняться,
                     например побулькать.<br>Это безусловно очень интересная игрушка, на которую хотят посмотреть
                      сороколетние мужчины, которым безусловно есть чем заняться, например побулькать.<br>
                      Это безусловно очень интересная игрушка, на которую хотят посмотреть сороколетние мужчины,
                       которым безусловно есть чем заняться, например побулькать.</div>
                <a class="look_butt" href="#">
                    <div class="watch">Смотреть</div>
                </a>
            </div>
            <div class="toy">
                <div class="toy_ph"></div>
                <div class="toy_rarity">Редкая</div>
                <div class="toy_name">Игрушка</div>
                <div class="toy_descr">Это безусловно очень интересная игрушка, 
                    на которую хотят посмотреть сороколетние мужчины, которым безусловно есть чем заняться,
                     например побулькать.<br>Это безусловно очень интересная игрушка, на которую хотят посмотреть
                      сороколетние мужчины, которым безусловно есть чем заняться, например побулькать.<br>
                      Это безусловно очень интересная игрушка, на которую хотят посмотреть сороколетние мужчины,
                       которым безусловно есть чем заняться, например побулькать.</div>
                <a class="look_butt" href="#">
                    <div class="watch">Смотреть</div>
                </a>
            </div>
        </div>
        <div class="other_rows">
            <div class="toy">
                <div class="toy_ph"></div>
                <div class="toy_rarity">Редкая</div>
                <div class="toy_name">Игрушка</div>
                <div class="toy_descr">Это безусловно очень интересная игрушка, 
                    на которую хотят посмотреть сороколетние мужчины, которым безусловно есть чем заняться,
                     например побулькать.<br>Это безусловно очень интересная игрушка, на которую хотят посмотреть
                      сороколетние мужчины, которым безусловно есть чем заняться, например побулькать.<br>
                      Это безусловно очень интересная игрушка, на которую хотят посмотреть сороколетние мужчины,
                       которым безусловно есть чем заняться, например побулькать.</div>
                <a class="look_butt" href="#">
                    <div class="watch">Смотреть</div>
                </a>
            </div>
            <div class="toy">
                <div class="toy_ph"></div>
                <div class="toy_rarity">Редкая</div>
                <div class="toy_name">Игрушка</div>
                <div class="toy_descr">Это безусловно очень интересная игрушка, 
                    на которую хотят посмотреть сороколетние мужчины, которым безусловно есть чем заняться,
                     например побулькать.<br>Это безусловно очень интересная игрушка, на которую хотят посмотреть
                      сороколетние мужчины, которым безусловно есть чем заняться, например побулькать.<br>
                      Это безусловно очень интересная игрушка, на которую хотят посмотреть сороколетние мужчины,
                       которым безусловно есть чем заняться, например побулькать.</div>
                <a class="look_butt" href="#">
                    <div class="watch">Смотреть</div>
                </a>
            </div>
            <div class="toy">
                <div class="toy_ph"></div>
                <div class="toy_rarity">Редкая</div>
                <div class="toy_name">Игрушка</div>
                <div class="toy_descr">Это безусловно очень интересная игрушка, 
                    на которую хотят посмотреть сороколетние мужчины, которым безусловно есть чем заняться,
                     например побулькать.<br>Это безусловно очень интересная игрушка, на которую хотят посмотреть
                      сороколетние мужчины, которым безусловно есть чем заняться, например побулькать.<br>
                      Это безусловно очень интересная игрушка, на которую хотят посмотреть сороколетние мужчины,
                       которым безусловно есть чем заняться, например побулькать.</div>
                <a class="look_butt" href="#">
                    <div class="watch">Смотреть</div>
                </a>
            </div>
        </div>
        <div class="other_rows">
            <div class="toy">
                <div class="toy_ph"></div>
                <div class="toy_rarity">Редкая</div>
                <div class="toy_name">Игрушка</div>
                <div class="toy_descr">Это безусловно очень интересная игрушка, 
                    на которую хотят посмотреть сороколетние мужчины, которым безусловно есть чем заняться,
                     например побулькать.<br>Это безусловно очень интересная игрушка, на которую хотят посмотреть
                      сороколетние мужчины, которым безусловно есть чем заняться, например побулькать.<br>
                      Это безусловно очень интересная игрушка, на которую хотят посмотреть сороколетние мужчины,
                       которым безусловно есть чем заняться, например побулькать.</div>
                <a class="look_butt" href="#">
                    <div class="watch">Смотреть</div>
                </a>
            </div>
            <div class="toy">
                <div class="toy_ph"></div>
                <div class="toy_rarity">Редкая</div>
                <div class="toy_name">Игрушка</div>
                <div class="toy_descr">Это безусловно очень интересная игрушка, 
                    на которую хотят посмотреть сороколетние мужчины, которым безусловно есть чем заняться,
                     например побулькать.<br>Это безусловно очень интересная игрушка, на которую хотят посмотреть
                      сороколетние мужчины, которым безусловно есть чем заняться, например побулькать.<br>
                      Это безусловно очень интересная игрушка, на которую хотят посмотреть сороколетние мужчины,
                       которым безусловно есть чем заняться, например побулькать.</div>
                <a class="look_butt" href="#">
                    <div class="watch">Смотреть</div>
                </a>
            </div>
            <div class="toy">
                <div class="toy_ph"></div>
                <div class="toy_rarity">Редкая</div>
                <div class="toy_name">Игрушка</div>
                <div class="toy_descr">Это безусловно очень интересная игрушка, 
                    на которую хотят посмотреть сороколетние мужчины, которым безусловно есть чем заняться,
                     например побулькать.<br>Это безусловно очень интересная игрушка, на которую хотят посмотреть
                      сороколетние мужчины, которым безусловно есть чем заняться, например побулькать.<br>
                      Это безусловно очень интересная игрушка, на которую хотят посмотреть сороколетние мужчины,
                       которым безусловно есть чем заняться, например побулькать.</div>
                <a class="look_butt" href="#">
                    <div class="watch">Смотреть</div>
                </a>
            </div>
        </div>
    </div>
</body>

</html>
